.detail--conter{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
}

.contador{
    display: flex;
    gap: 15px;
    color: rgb(35, 102, 4);
}

.gap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}