.home__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    text-align: center;
    gap: 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
    height: 500px;
}

.card__img{
    width: auto;
}

.card__title{
    font-size: 15px;
    line-height: 25px;
    background-image: linear-gradient(to right, #333, #666, #333);
    background-size: 100% 1px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    font-family: 'VT323', monospace;
}

.card__desc{
    font-size: 15px;
    font-family: 'Space Mono', monospace;
}