.itemListContainer{
    padding-top: 80px; /* Importante para separar de NAVBAR */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}
